
body {
    background-color: #f7f7f7;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 240px 1fr;
}
.sidebar {
    background-color: #938c75;
    color: white;
    padding: 20px;
    height: 100vh;
    width: 240px;
    border-left: 10px solid #8bc33d;
    position: fixed;
    top: 0;
    left: 0;
 
}
.sidebar-title {
    font-weight: 800;
    color: #8bc33d;
    font-size: 25px;
    font-family: serif;
}

.sidebar ul {
    list-style: none;
    margin-top: 50px;
    padding: 0;
}

.sidebar ul li {
    position: relative;
}

.sidebar ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.sidebar ul li:hover,
.sidebar ul li.hovered {
    background-color: #938c75;
}

.sidebar ul li:hover a,
.sidebar ul li.hovered a {
    background-color: #f7f7f7;
    color: #938c75;
}

.sidebar ul li:hover a::before,
.sidebar ul li.hovered a::before {
    content: "";
    position: absolute;
    left: 210px;
    top: -50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px #f7f7f7;
    pointer-events: none;
}

.sidebar ul li:hover a::after,
.sidebar ul li.hovered a::after {
    content: "";
    position: absolute;
    left: 210px;
    bottom: -50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px #f7f7f7;
    pointer-events: none;
}

.text-orange {
    color: #e67e22;
}

.text-green {
    color: #8bc33d;
}

.text-red {
    color: #e74c3c;
}

.text-blue {
    color: #1e6bcf;
}

.text-yellow {
    color: #dfd10f;
}

.main-container {
    grid-area: main;
    padding: 20px;
    margin-left: 80px;
}

h1 {
    color: #938c75;
    font-family: serif;
    text-align: center;
}
h2 {
    color: #8bc33d;
    font-size: 18px;
    font-weight: bold;
    margin-top: 35px;
}
h3 {
    color: #000;
    font-size: 20px;
    margin-top: 10px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #8bc33d;
}
.table th, .table td {
    padding: 12px;
    border: 1px solid #8bc33d;
    text-align: center;
}
.table thead th {
    background-color: #938c75;
    color: white;
}
.table tbody td {
    background-color: #f2f2f2;
    color: #333;
}
.table-light {
    background-color: #8bc33d;
    color: white;
}