<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modification d'une Pièce de Rechange</title>
    <link rel="stylesheet" href="/css/formStyle.css">
</head>
<body>
    <h1>Modifier la Pièce de Rechange</h1>
    <form th:action="@{/productsor/edit/{id}(id=${productSor.id})}" th:object="${productSor}" method="post">
        <div class="form-group">
            <label for="name">Nom de la Pièce :</label>
            <input type="text" id="name" th:field="*{name}" required />
        </div>
        <div class="form-group">
            <label for="ref">Référence de la Pièce :</label>
            <input type="text" id="ref" th:field="*{ref}" required />
        </div>
        <div class="form-group">
            <label for="nameMach">Nom de la Machine :</label>
            <input type="text" id="nameMach" th:field="*{nameMach}" required />
        </div>
        <div class="form-group">
            <label for="refMach">Référence de la Machine :</label>
            <input type="text" id="refMach" th:field="*{refMach}" required />
        </div>
        <div class="form-group">
            <label for="Mecan">Mécanicien :</label>
            <input type="text" id="Mecan" th:field="*{Mecan}" required />
        </div>
        <div class="form-group">
            <label for="date">date de sortie :</label>
            <input type="text" id="date" th:field="*{date}" required />
        </div>
        <button type="submit" class="btn">Mettre à jour</button>
    </form>
    <a href="/productSor" class="btn btn-danger">Retour</a>
</body>
</html>
