<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajout d'une pièce</title>
    <link rel="stylesheet" href="/css/formStyle.css">
</head>
<body>

    <h1>Ajouter une pièce</h1>
    
    <form th:action="@{/product}" th:object="${product}" method="post">
        <div>
            <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                <p th:errors="*{name}"></p>
            </div>
            <label for="name">Nom :</label>
            <input type="text" id="name" th:field="*{name}" />
            
        </div>
        <div>
            <div th:if="${#fields.hasErrors('ref')}" class="text-danger">
                <p th:errors="*{ref}"></p>
            </div>
            <label for="ref">Référence :</label>
            <input type="text" id="ref" th:field="*{ref}" />
          
        </div>
        <div>
            <div th:if="${#fields.hasErrors('fourniss')}" class="text-danger">
                <p th:errors="*{fourniss}"></p>
            </div>
            <label for="fourniss">Fournisseur :</label>
            <input type="text" id="fourniss" th:field="*{fourniss}" />
           
        </div>
        <div>
            <div th:if="${#fields.hasErrors('prixunitaire')}" class="text-danger">
                <p th:errors="*{prixunitaire}"></p>
            </div>
            <label for="prixunitaire">Prix unitaire:</label>
            <input type="number" id="prixunitaire" th:field="*{prixunitaire}" />
           
        </div>
        <div>
            <div th:if="${#fields.hasErrors('qt')}" class="text-danger">
                <p th:errors="*{qt}"></p>
            </div>
            <label for="qt">Quantité en stock :</label>
            <input type="number" id="qt" th:field="*{qt}" />
           
        </div>
        <input type="submit" value="Ajouter le Produit">
    </form>
    <a href="/productlist" class="btn">Retour</a>
</body>
</html>
