<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Pièces de Rechange</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/productlistStyle.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-left">
                    <img src="http://localhost:8091/images/logo.png" alt="Logo" class="log">
                    <div>CHOMARAT</div>
            </div>
            <div class="header-right">
                <i class="bi bi-person-circle" id="icon" style="cursor: pointer;"></i>
            </div>
            <a href="/logout" class="logout-button" id="logout-button">Se déconnecter</a>
        </header>
        <aside class="sidebar">
            <ul>
                <li>
                    <a href="/">
                        <i class="bi bi-house-door text-yellow"></i> Dashboard
                    </a>
                </li>
                <li>
                    <a href="/productlist">
                        <i class="bi bi-box-seam text-orange"></i> Liste des pièces en stock
                    </a>
                </li>
                <li>
                    <a href="/productSor">
                        <i class="bi bi-list-ul text-red"></i> Liste des pièces sorties
                    </a>
                </li>
                <li>
                    <a href="/machtable">
                        <i class="bi bi-archive text-green"></i> Liste des pièces par machine
                    </a>
                </li>
            
            </ul>
        </aside>
    <div class="main-container">
        <h1>Liste des pièces de rechange sorties</h1>
       
        <form th:action="@{/productsor/search}" method="get" class="form-inline">
            <input class="form-control" type="search" placeholder="Rechercher une pièce" aria-label="Search" name="word">
            <button class="btn" type="submit">Rechercher</button>
        </form>
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th></th>
                    <th>Nom de la pièce</th>
                    <th>Référence de la pièce</th>
                    <th>Nom de la Machine</th>
                    <th>Référence de la Machine</th>
                    <th>Mecanicien </th>
                    <th>Date de sortie</th>
                    <th>
                        <a href="/productsor/new" class="btn">Ajouter une pièce</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="productSor, status : ${productS}">
                    <td th:text="${status.count}"></td>
                    <td th:text="${productSor.name}"></td>
                    <td th:text="${productSor.ref}"></td>
                    <td th:text="${productSor.nameMach}"></td>
                    <td th:text="${productSor.refMach}"></td>
                    <td th:text="${productSor.Mecan}"></td>
                    <td th:text="${productSor.date}"></td>
                    <td>
                        <a th:href="@{/productsor/edit/{id}(id=${productSor.id})}" class="icon">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a th:href="@{/productsor/delete/{id}(id=${productSor.id})}" class="icon-D" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette pièce ?')">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/scripts.js"></script>
</body>
</html>
