<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des pièces</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/productlistStyle.css">

</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-left">
                    <img src="http://localhost:8091/images/logo.png" alt="Logo" class="log">
                    <div>CHOMARAT</div>
            </div>
            <div class="header-right">
                <i class="bi bi-person-circle" id="icon" style="cursor: pointer;"></i>
            </div>
            <a href="/logout" class="logout-button" id="logout-button">Se déconnecter</a>
        </header>
        <aside class="sidebar">
            <ul>
                <li>
                    <a href="/">
                        <i class="bi bi-house-door text-yellow"></i> Dashboard
                    </a>
                </li>
                <li>
                    <a href="/productlist">
                        <i class="bi bi-box-seam text-orange"></i> Liste des pièces en stock
                    </a>
                </li>
                <li>
                    <a href="/productSor">
                        <i class="bi bi-list-ul text-red"></i> Liste des pièces sorties
                    </a>
                </li>
                <li>
                    <a href="/machtable">
                        <i class="bi bi-archive text-green"></i> Liste des pièces par machine
                    </a>
                </li>
            </ul>
        </aside>
        <div class="main-container">
            <h1>Liste des pièces de rechange en stock</h1>

            <form th:action="@{/product/search}" method="get" class="form-inline ">
                <input class="form-control mr-sm-2" type="search" placeholder="Rechercher une pièce" aria-label="Search" name="keyword">
                <button class="btn my-2 my-sm-0" type="submit">Rechercher</button>
            </form>

            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th class="text-center"></th>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Référence</th>
                        <th class="text-center">Fournisseur</th>
                        <th class="text-center">Prix Unitaire</th>
                        <th class="text-center">Quantité</th>
                        <th class="text-center">
                            <a href="/product/new" class="btn">Ajouter une pièce</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product, status : ${products}">
                        <td class="text-center" th:text="${status.count}"></td>
                        <td class="text-center" th:text="${product.name}"></td>
                        <td class="text-center" th:text="${product.ref}"></td>
                        <td class="text-center" th:text="${product.fourniss}"></td>
                        <td class="text-center" th:text="${product.prixunitaire}"></td>
                        <td class="text-center" th:text="${product.qt}"></td>
                        <td class="text-center">
                            <a th:href="@{/product/edit/{id}(id=${product.id})}" class="icon">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a th:href="@{/product/delete/{id}(id=${product.id})}" class="icon-D" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette pièce ?')">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
    <script src="/js/scripts.js"></script>
</body>
</html>
